@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {

 /* background */
  background-color: #bcc7c9; 


  /* font */
  font-family: "Comfortaa", sans-serif;
  color: #122a32;

}